<AdHocSettings>
	<Property Name="LicenseKey" Value="TheIntellectionGroup +LANG|Enterprise|6.5|12/24/2010|8|0|0|M|61VE+AI" />
	<Property Name="OracleConnectionString" Value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=db1-vip.mo2.md.bg)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=kolio19.mo2.md.bg)));User Id=VS_OWNER;Password=test2011;" />
	<Property Name="ShowJoinDropDown" Value="True" />
	<Property Name="GaugeStyles" />
	<Property Name="ReportsPath" Value="C:\PMIS\Src\PMIS\PMISReports\Reports\" />
	<Property Name="DataSourceDropDownWidth" Value="190px" />
	<Property Name="HiddenCategories" />
	<Property Name="DefaultSharingRights" Value="Full Access" />
	<Property Name="EqualsDropDownLimit" Value="500" />
	<Property Name="DataSourceLimit" Value="100000" />
	<Property Name="ShowODTButton" Value="True" />
	<Property Name="NoDataSourcePage" Value="Settings.aspx" />
	<Property Name="PreviewColumnLimitMessage" Value="Reports with more than 100 fields must be exported to CSV.  Please check CSV Export to view data." />
</AdHocSettings>